extends ../../common/layout/layout
block append meta
  title 文章编辑
block script
block localCss
  link(rel='stylesheet' href='./css/edit.css')
block footerJs
  script(src='./js/edit.js')
block footer
block content
  div#article
    div.header
      p.title(contenteditable) 这里是文章标题
      div.personal
        a(href='javascript:;')
          img(src='images/lm.png')
        span.nickname 魂归梦里
        time.time 2018-12-12
        button 添加背景音乐
    // 具体文章内容
    article.content 里面是文章内容
    // 自定义操作
    div.operations
      button.add-form
        i.iconfont &#xe60e
        |添加表单
      div.forms
        div.title
          p.form-name 报名
          span.remove 删除
        div.form-box
          form.form
            div.name
              span 姓名：
              input(name='name' placeholder='请输入姓名' disabled)
            div.tel
              span 电话：
              input(name='tel' placeholder='请输入电话' type='tel' disabled)
            div.address
              span 地址：
              input(name='address' placeholder='请输入地址' disabled)
            div.message
              span 留言：
              textarea(name='message' placeholder='请输入留言' disabled)
            button.submit(type='button') 提交
    // 分割线
    div.divider
      p 广告
    // 广告开关选项
    ul.swatch-list
      li 底部广告
        div.right.advertising
          div.custom-checked
            div.checked
              input(type='checkbox' name='advertising' checked)
              i.toggle-bar
              div.bg
      li 文章打赏
        div.right
          div.custom-checked
            div.checked
              input(type='checkbox' name='reward' checked)
              i.toggle-bar
              div.bg
      li 微缩名片
        div.right.card
          div.custom-checked
            div.checked
              input(type='checkbox' name='business-card')
              i.toggle-bar
              div.bg
    // 微缩名片
    div.business-card
      div
        div.item.inline
          span 姓名：
          input(name='name' disabled value='欧文开啦')
        div.item.inline
          span 电话：
          input(name='tel' disabled type='tel' value='13533134565')
        div.item.inline
          span 公司：
          input(name='company' disabled value='重庆链脉网络科技有限公司')
        div.item
          span
            i.article-icon &#xe722
            | 我的个人简介
          textarea(name='desc' placeholder='请输入个人简介')
        div.item
          span
            i.article-icon &#xe71f
            | 我拥有的资源和优势
          textarea(name='source' placeholder='请简要介绍你拥有的资源和优势')
        div.item
          span
            i.article-icon &#xe721
            | 我希望对接的功能
          textarea(name='expect' placeholder='请输入你希望要对接的功能')
    // 底部广告
    div.banner-bottom
      div.container
        a.img-box(href='javascript:;')
          img(src='images/lm.png')
          i.vip.vip_icon_0
        div.content
          p.name 昵称
          p.desc 一些描述信息
        a.follow(href='javascript:;') 关注
  // 发布文章
  button.publish 写好了，去发布
  // 顶部温馨提示
  div.tips
    p 温馨提示：点击文章任意部分进行编辑操作
    span.close
  // 表单选择弹框
  div.modal-form
    div.mask
    div.content
      div.header 请单击选择需要插入的表单
      div.section
        div.title
          span.current 表单模板
        div.list
          ul
            li(data-type='1')
              div
                p 姓名
                p 电话
                p 地址
                p.message 留言
                p.submit 提交
            li(data-type='2')
              div
                p 姓名
                p 电话
                p.message 留言
                p.submit 提交
            li(data-type='3')
              div
                p 姓名
                p 电话
                p 地址
                p.submit 提交
            li(data-type='4')
              div
                p 姓名
                p 电话
                p.submit 提交
      div.footer 关闭
  // 音乐选择弹框
  div.modal-music
    div.mask
    div.content
      div.header 选择背景音乐
      div.section
        div.title
          // 音乐类型
          span(data-type='0').current 流行音乐
          span(data-type='1') 背景音乐
        ul.list
          li.nothing.current
            span
            div
              p.name 无需背景音乐
          // data-src 存放背景音乐地址
          -for(var i=0;i<5;i++)
            li(data-src=i)
              span
              div
                p.name 今天是个好日子
                p.singer 阿宝
      div.footer 关闭
  audio#audio(src='' preload='auto' autoplay="autoplay" loop='loop' hidden='hidden' controls='controls')
