@import "../../../common/reset/rest";
@keyframes moveDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
body{
  height: 100vh;
  overflow: hidden;
  padding: 0;
  color: #999a9a;
}
html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
li{
  list-style: none;
}
div,button{
  .setTapColor()
}
#container{
  transition: all 0.3s;
}
.full-container{
  width: 100vw;
  height: 100vh;
}
.flex{
  padding: .4rem 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.toggle-btn{
  display: flex;
  text-align: center;
  border: 1px solid @default_color;
  border-radius: 5px;
  font-size: 16px;
  a{
    width: 1.7rem;
    color: @default_color;
    &.current{
      color: #fff;
      background: @default_color;
    }
  }
}
.personal{
  align-self: flex-start;
  a{
    color: inherit;
    display: flex;
  }
  .avatar{
    width: .62rem;
    height: .62rem;
    border: 1px solid #fff;
    vertical-align: bottom;
    border-radius: 50%;
    margin-right: 10px;
  }
  .box{
    background: #d4d7d8;
    border-radius: .3rem;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: @default_color;
    .sun{
      width: .44rem;
      height: .44rem;
      background: url("../images/sun.png") no-repeat;
      background-size: contain;
      margin-right: 10px;
    }
  }
}
.bg{
  img{
    width: 3.5rem;
    vertical-align: bottom;
  }
}
.rule-title{
  color: @default_color;
  span{
    padding: 0 10px;
    border-left: 1px solid @default_color;
    border-right: 1px solid @default_color;
  }
}
.rule-list{
  color: @default_color;
  line-height: 2.5;
  ul{
    width: 100%;
    border-radius: 5px;
    background: #fff;
    padding: 20px 1.2rem;
  }
  span{
    border-radius: 50%;
    background: @default_color;
    color: #fff;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    margin-right: 3px;
  }
}
.btn-box{
  button{
    background: @default_color;
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    width: 70vw;
    color: #fff;
    font-size: 16px;
  }
}
.slide{
  .arrow{
    text-align: center;
    position: relative;
    width: 60px;
    margin: 0 auto;
    animation: moveDown 1s ease-in infinite;
    i{
      .setArrow(down, 14px, #999a9a, 1px );
      &:last-child{
        position: absolute;
        top: 10px;
        left: 23px;
      }
    }
  }
}
// 排名列表
.record{
  font-size: 14px;
  header{
    height: .8rem;
    position: relative;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after{
      .setBottomLine()
    }
  }
  .calendar{
    color: inherit;
    i{
      width: 25px;
      height: 25px;
      background: url("../images/rili.png") no-repeat;
      background-size: contain;
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
    }
  }
  mark{
    background: none;
    color: inherit;
    font-size: 14px;
    margin-left: 20px;
  }
  .list{
    padding: 0 15px;
    height: calc(~'100vh - .8rem');
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  li{
    display: flex;
    margin-bottom: 10px;
    time{
      flex: 0 0 40px;
      line-height: .7rem;
    }
    &.start,&.end{
      line-height: .7rem;
      div{
        color: @default_color;
      }
    }
  }
  .content{
    mark{
      margin: 0;
    }
    .avatar{
      width: .7rem;
      height: .7rem;
      border-radius: 50%;
      vertical-align: bottom;
      margin-right: .1rem;
      & + span{
        line-height: .7rem;
      }
    }
    .sun{
      padding:0 .8rem;
      line-height: normal;
      overflow: hidden;
      position: relative;
      &.fold{
        .ellipsisLn(2)
      }
      i{
        display: inline-block;
        width: .44rem;
        height: .44rem;
        background: url("../images/sun.png") no-repeat;
        background-size: contain;
      }
      button{
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        background: none;
        outline: none;
        padding: 0 10px;
        line-height: .44rem;
        color: inherit;
      }
    }
    p:last-child{
      font-size: 12px;
      mark{
        font-size: 12px;
      }
    }
  }
}
// 支付弹窗
.modal-pay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: rgba(0,0,0,.6);
  .modal-container{
    height: 5rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .header{
    height: .8rem;
  }
  .body{
    height: 4.2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    color: @default_color;
    text-align: center;
    padding: 30px 0;
  }
  .pay{
    height: .8rem;
    background: @default_color;
    border-radius: 5px;
    border: none;
    outline: none;
    align-self: center;
    width: 100px;
    color: #fff;
  }
  .close{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(45deg);
    &::before{
      content: '';
      width: 16px;
      border-bottom: 2px solid #666;
      position: absolute;
      bottom: 7px;
      left: 0;
    }
    &::after{
      content: '';
      height: 16px;
      border-right: 2px solid #666;
      position: absolute;
      right: 7px;
      top: 0;
    }
  }
}
// 打卡时间提示弹窗
.modal-tips{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1.6rem;
  z-index: 5;
  background: rgba(0,0,0,.7);
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  time{
    font-size: 14px;
  }
}
// 模态框通用样式
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: rgba(0,0,0,.3);
  text-align: center;
  .container{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    background: #fff;
  }
  .close{
    .setClose()
  }
}
// 打卡成功提示框
.modal-success,.modal-pay-success,.modal-fail{
  display: none;
  color: black;
  .container{
    >div{
      padding-top: 10px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }
  }
  h3{
    color: #ffa200;
    margin-bottom: 10px;
  }
  p{
    font-size: 12px;
  }
  button{
    background: #ffa200;
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    margin: 20px 20px 10px 20px;
    line-height: .8rem;
  }
}
.modal-pay-success{
  button{
    background: #fff;
    color: #ffaf6a;
    outline: none;
    border: 1px solid #ffa200;
    border-radius: 5px;
    margin: 20px 20px 10px 20px;
    line-height: .8rem;
  }
}
.modal-fail{
  &.show{
    display: block;
  }
  h3{
    color: #ff3232;
  }
}
