@import "../../../common/reset/rest";
@keyframes moveDown {
  0% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(10px);
    opacity: 0.1;
  }
}
body{
  height: 100vh;
  overflow: hidden;
  padding: 0;
  color: #999a9a;
}
html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
button{
  .setTapColor()
}
div{
  .setTapColor()
}
#container{
  transition: all 0.3s;
}
.full-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.picture{
  justify-content: space-between;
  padding-bottom: 10px;
  background: #fff;
  .img-box{
    background: #ccc;
    height: 100vw;
    position: relative;
    overflow: hidden;
    img{
      width: 100vw;
      vertical-align: bottom;
    }
    button{
      position: absolute;
      right: 20px;
      bottom: 20px;
      padding: 2px 5px;
      border-radius: 5px;
      background: #2a4965;
      color: #fff;
      font-size: 12px;
      border: none;
      outline: none;
    }
  }
  .audio-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    .avatar{
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      vertical-align: bottom;
      margin-right: 10px;
    }
    .personal{
      flex: 1 1 calc(~'100% - 1.6rem - 15px');
      white-space: nowrap;
      overflow: hidden;
      .name{
        font-size: 14px;
        margin-right: 10px;
      }
      .company{
        .ellipsis()
      }
    }
    .toggle{
      width: .6rem;
      height: .6rem;
      background: url("../images/bofang.png") no-repeat;
      background-size: contain;
      &.pause{
        background: url("../images/zanting1.png") no-repeat;
        background-size: contain;
      }
    }
  }
  .text-box{
    margin: 0 20px;
    padding: 0 15px;
    height: 125px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex: 1;
  }
  .arrow-box{
    text-align: center;
    position: relative;
    width: 60px;
    margin: 0 auto;
    animation: moveDown 1s ease-in infinite;
    i{
      .setArrow(down, 14px, #999a9a, 1px );
      &:last-child{
        position: absolute;
        top: 10px;
        left: 23px;
      }
    }
  }
}
// 推广页面
.expand{
  background: @default_color;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 2rem 0;
  .personal{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .avatar{
      width: 1.8rem;
      height: 1.8rem;
      border: 2px solid #fff;
      border-radius: 50%;
      vertical-align: bottom;
    }
  }
  .make{
    border-radius: 5px;
    border: none;
    outline: none;
    background: #fff;
    width: 4rem;
    height: .8rem;
    line-height: .8rem;
    color: @default_color;
    font-size: 18px;
  }
  .change{
    color: #fff;
    .arrow{
      .setArrow(right, 12px ,#fff, 2px);
      top: 0;
    }
  }
}
// 查看大图模态框
.modal-img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0,0,0,.3);
  img{
    width: 100vw;
    vertical-align: bottom;
    box-shadow: 0 3px 7px 3px rgba(0,0,0,.3);
  }
  .close{
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid #fff;
    i{
      .setClose(#fff);
      right: 3px;
      top: 3px;
    }
  }
}
