@import "../../../common/reset/rest";
.hide{
  display: none !important;
}
li{
  list-style: none;
}
div,ul{
  .setTapColor()
}
// 头部信息
.header{
  position: relative;
}
.summary{
  height: 3rem;
  background: url('../images/bg.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  text-align: center;
  color: #fff;
  span{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
}
.toggle-btn{
  display: flex;
  position: absolute;
  top: .4rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  a{
    width: 1.7rem;
    color: #fff;
    &.current{
      color: @default_color;
      background: #fff;
    }
  }
}
.personal{
  position: absolute;
  z-index: 10;
  bottom: -.49rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  .avatar{
    width: .98rem;
    height: .98rem;
    border-radius: 50%;
    border: 2px solid #fff;
    vertical-align: bottom;
  }
}
// 打卡入口
.clock{
  height: 1.7rem;
  background: #fff;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding-bottom: .1rem;
  font-size: 12px;
  position: relative;
  &::after{
    .setBottomLine()
  }
}
.clock-in{
  background: #ccc;
  border: 0;
  border-radius: 13px;
  outline: none;
  padding: 4px 10px;
  color: #f2f2f2;
  .active & {
    background: linear-gradient(to right, #fda435, #f39c0f);
    color: #fff;
  }
}
.time{
  color: @default_color;
}
// 标签切换
.tab{
  height: .8rem;
  display: flex;
  justify-content: space-around;
  background: #fff;
  line-height: .8rem;
  position: relative;
  &::after{
    content: '';
    width: 100%;
    border-bottom: 1px solid #bdbfc1;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .current{
    border-bottom: 3px solid @default_color;
    color: @default_color;
  }
}
// 名次排行
.list{
  margin-top: 10px;
  &.nothing{
    min-height: 6rem;
    background: url("../images/nothing.png")no-repeat center;
    background-size: 100px;
  }
  li{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 1.4rem;
    position: relative;
    background: #fff;
    &::after{
      .setBottomLine()
    }
    &:nth-child(1){
      .order{
        background-image: url('../images/1.png');
      }
    }
    &:nth-child(2){
      .order{
        background-image: url('../images/2.png');
      }
    }
    &:nth-child(3){
      .order{
        background-image: url('../images/3.png');
      }
    }
  }
  .order{
    width: .6rem;
    height: .6rem;
    background-size: contain;
    text-align: center;
    line-height: .6rem;
    font-size: 14px;
    flex-shrink: 0;
  }
  .avatar-box{
    flex-shrink: 0;
    position: relative;
    .level{
      position: absolute;
      bottom: 5px;
      right: 5px;
      zoom: .6;
    }
  }
  .avatar{
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    border-radius: 50%;
    margin: 0 5px;
  }
  .content{
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
  }
  .name{
    font-size: 14px;
  }
  .title{
    font-size: 12px;
    margin-left: 5px;
  }
  .company{
    font-size: 13px;
  }
  .time{
    font-size: 12px;
    margin-left: 5px;
    color: #b3b3b3;
  }
  .operation{
    flex: 0 0 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    text-align: center;
  }
  .reward{
    background-image: url("../images/shang.png");
    background-repeat: no-repeat;
  }
  .star-box{
    flex-basis: 20px;
  }
  .star{
    background-image: url("../images/dianzan.png");
    margin: 0 auto;
    &.more{
      background-image: url("../images/dianzan1.png");
    }
  }
  .count{
    font-size: 14px;
  }
  .reward,.star{
    width: 16px;
    height: 16px;
    background-size: contain;
  }
  .remind{
    border: 1px solid @default_color;
    color: @default_color;
    border-radius: 5px;
    padding: 0 5px;
  }
}
// 页脚
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  .list{
    margin-top: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 1.4rem;
    position: relative;
    background: linear-gradient(to right,#fa9715,#ff8e08);
    .operation{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      flex: 0 0 90px;
    }
  }
  .picture,.invite{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 5px;
    color: inherit;
  }
  .picture{
    margin-bottom: 5px;
  }
  .company{
    .ellipsis();
    max-width: 3.3rem;
  }
  .name{
    .ellipsis();
    max-width: 84px;
    display: inline-block;
    vertical-align: bottom;
  }
  .title{
    .ellipsis();
    max-width: calc(~'3.3rem - 90px');
    display: inline-block;
    vertical-align: bottom;
  }
}
// 修复body间距
.lm-container{
  padding-bottom: 1.5rem !important;
}
// 打赏选择框
.modal-reward{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 11;
  display: none;
  .container{
    width: 70%;
    min-height: 200px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
  }
  .background{
    height: 50px;
    overflow: hidden;
    &::after{
      content: '';
      width: 100%;
      height: 200%;
      border-radius: 0 0 40% 40%;
      background: red;
      display: block;
      transform: translateY(-50%);
    }
  }
  .personal-box{
    position: relative;
    top: -.33rem;
    text-align: center;
    .avatar{
      width: .66rem;
      height: .66rem;
      border: 1px solid #fff;
      border-radius: 50%;
      vertical-align: bottom;
    }
  }
  .money{
    display: flex;
    flex-flow: row wrap;
    padding: 0 10px;
    text-align: center;
    li{
      flex: 0 0 33.33%;
      color: red;
      margin-bottom: 5px;
      &.selected{
        span{
          color: #fff;
          background: red;
        }
      }
    }
    span{
      display: inline-block;
      width: 90%;
      border: 1px solid red;
      border-radius: 5px;
    }
  }
  .other-amount{
    color: red;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    line-height: 2.5;
    .amount{
      width: 50px;
      outline: none;
      border: none;
      font-size: 12px;
      text-align: center;
    }
    >span{
      border-bottom: 1px solid red;
    }
  }
  .btn-box{
    text-align: center;
    button{
      width: 100px;
      background: red;
      border: none;
      border-radius: 5px;
      color: #fff;
      height: 30px;
      line-height: 31px;
      outline: none;
    }
  }
}
// 打卡成功提示框
.modal-success{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: rgba(0,0,0,.3);
  text-align: center;
  line-height: 2.6;
  .container{
    background: #fff;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
  }
  .background{
    width: 1.4rem;
    height: 1.4rem;
    background: url("../images/chenggong.png") no-repeat;
    background-size: contain;
    margin: 0 auto;
  }
  p{
    font-size: 12px;
  }
  .close{
    .setClose()
  }
}
// vip 图标
/*vip图标*/
/*免费*/
.vip_icon_0 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -83px;}
/*金星*/
.vip_icon_1 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 0;}
/*钻石*/
.vip_icon_2 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -55px;}
/*皇冠*/
.vip_icon_3 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -27px;}
/*创客*/
.vip_icon_4 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -112px;}
/*代理*/
.vip_icon_5 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -144px;}
/*省代理*/
.vip_icon_6 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -174px;}
/*市代理*/
.vip_icon_7 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -204px;}
/*认证V*/
.vip_icon_8 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -234px;}
/*运营商*/
.vip_icon_9 {display: inline-block; width: 22px; height: 23px; background: url(../images/vip_icon.png) no-repeat 0 -261px;}
