// 留言框
div.modal-message
  div.mask
  div.content
    div.header 留言咨询
      i.close
    div.section
      input(name='name' placeholder='请输入你的姓名')
      input(name='tel' placeholder='请输入你的电话' type='tel')
      textarea(name='message' placeholder='请输入你的需求或问题')
    div.footer
      button.submit 保存
