extends ../../common/layout/layout
block append meta
  title 商脉
block script
block content
  div.container
  div.nav-box
    div.toggle
      i.nav-icon &#xe604
    div.modal-nav
      div.mask
      div.content
        ul.nav-list
          li
            a(href='javascript:;')
              i.nav-icon &#xe700
              span 编文章
          li
            a(href='javascript:;')
              i.nav-icon &#xe703
              span 打卡榜
          li
            a(href='javascript:;')
              i.nav-icon &#xe6e4
              span 早安图
