extends ../../common/layout/layout
block append meta
  title 早起挑战
block script
block footer
block footerCss
block footerJs
  script(src='./js/challenge.js')
block localCss
  link(rel='stylesheet' href='./css/challenge.css')
block content
  div#container
    div.full-container.flex
      div.toggle-btn
        a(href='/clock-in') 打卡排行
        a(href='javascript:;').current 早起挑战
      div.personal
        a(href='javascript:;')
          img.avatar(src='./images/tupian.png')
          span.box
            i.sun
            span 11
      div.bg
        img(src='./images/title.png')
      div.notice
        p
          span.total 1198
          | 人参与明天挑战，累计挑战金
          span.amount 8873
          | 元
      div.rule-title
        span 挑战规则
      div.rule-list
        ul
          li
            span 1
            | 支付一元加入挑战
          li
            span 2
            | 早上6:00到9:00打卡
          li
            span 3
            | 准时打卡的人平分挑战金
      div.btn-box
        // 用户未付钱显示‘我要参加’，用户已付显示‘打卡’，打完之后变成’我要参加‘，如果用户已付钱给按钮加上paid这个类名
        button.join.paid 我要参加
      div.slide
        p 下滑查看大家打卡记录
        div.arrow
          i
          i
    // 打卡记录页
    div.full-container.record
      header
        a.calendar(href='/clock-in/record.html')
          i
          time 11月22日
        div
          span
            mark 1198
            | 成功
          span
            mark 5354
            | 失败
      ul.list
        li.start
          time 6:00
          div 打卡开始
        - for(var k=0;k<7;k++)
          li.item
            time 6:01
            div.content
              p
                img.avatar(src='./images/tupian.png')
                span
                  mark 我爱罗
                  | 连续早起
                  mark 5
                  | 天
              //- 如果用户连续打卡超过20天就给.sun 加上fold这个类
              div.sun
                - for(var i=0;i<40;i++)
                  i
              p
                | 累计奖励金
                mark 7798
                | 元
        li.end
          time 9:00
          div 打卡结束
        li.loadmore 点击加载更多
  // 打卡时间提示弹窗
  div.modal-tips(style='display:none')
    time 打卡时间 2017/11/11
    p 6:00~9:00
  // 弹窗状态
  // todo 支付一元
  <div data-v-ad432ce8="" class="check-modal modal-pay" style="display: none;" data-v-0e8e0d86="" data-v-60883166=""><div data-v-ad432ce8="" class="shade" style="/* display: none; */"></div> <div data-v-ad432ce8="" class="main"><div data-v-ad432ce8="" class="tips" style="display: none;"></div> <div data-v-ad432ce8="" class="tips" style="display: none;"><div data-v-ad432ce8="" class="tips-bg">点击右上角分享给朋友</div></div> <div data-v-ad432ce8="" class="content" style="/* display: none; */"><div data-v-0e8e0d86="" class="common-content"><div data-v-0e8e0d86="" class="close"><i data-v-0e8e0d86=""></i></div> <h1 data-v-0e8e0d86="">支付挑战金1元</h1> <div data-v-0e8e0d86="" class="cat"><img data-v-0e8e0d86="" src="./images/modal-pay.png" alt=""></div> <div data-v-0e8e0d86="" class="button"><a data-v-0e8e0d86="" href="javascript:">支付, 参加挑战</a></div></div></div></div></div>
  // 挑战启动
  <div data-v-ad432ce8="" class="check-modal modal-pay-success" data-v-f4ffba48="" data-v-60883166="" style=" display: none; "><div data-v-ad432ce8="" class="shade" style="/* display: none; */"></div> <div data-v-ad432ce8="" class="main"><div data-v-ad432ce8="" class="tips" style="display: none;"><div data-v-f4ffba48="" class="tips-bg">成功支付1元</div></div> <div data-v-ad432ce8="" class="tips" style="/* display: none; */"><div data-v-ad432ce8="" class="tips-bg">点击右上角分享给朋友</div></div> <div data-v-ad432ce8="" class="content" style="/* display: none; */"><div data-v-f4ffba48="" class="common-content"><div data-v-f4ffba48="" class="close"><i data-v-f4ffba48=""></i></div> <h1 data-v-f4ffba48="">你的挑战已启动</h1> <p data-v-f4ffba48="" class="tips">明天记得来打卡哦</p> <div data-v-f4ffba48="" class="cat mt100"><img data-v-f4ffba48="" src="./images/modal-paysuccess.png" alt=""></div> <div data-v-f4ffba48="" class="button border"><a data-v-f4ffba48="" href="javascript:">喊好友来参加</a></div></div></div></div></div>
  // 挑战成功
  <div data-v-ad432ce8="" class="check-modal modal-success" data-v-38c280fc="" data-v-60883166="" style=" display: none; "><div data-v-ad432ce8="" class="shade" style="/* display: none; */"></div> <div data-v-ad432ce8="" class="main"><div data-v-ad432ce8="" class="tips" style="display: none;"><div data-v-38c280fc="" class="tips-bg"><i data-v-38c280fc=""><img data-v-38c280fc="" src="./images/sun.png" alt=""></i>连续早起1天！</div></div> <div data-v-ad432ce8="" class="tips" style="display: none;"><div data-v-ad432ce8="" class="tips-bg">点击右上角分享给朋友</div></div> <div data-v-ad432ce8="" class="content" style="/* display: none; */"><div data-v-38c280fc="" class="common-content"><div data-v-38c280fc="" class="close"><i data-v-38c280fc=""></i></div> <h1 data-v-38c280fc="">挑战成功咯</h1> <p data-v-38c280fc="" class="tips">奖励会在24小时内发送至微信钱包</p> <div data-v-38c280fc="" class="cat mt100"><img data-v-38c280fc="" src="./images/modal-challenge-success.png" alt=""></div> <div data-v-38c280fc="" class="button"><a data-v-38c280fc="" href="javascript:">参加下次挑战</a></div> <div data-v-38c280fc="" class="button border"><a data-v-38c280fc="" href="javascript:">喊好友来参加</a></div></div></div></div></div>
  // 挑战失败
  <div data-v-ad432ce8="" class="check-modal modal-fail" data-v-614943db="" data-v-60883166="" style="display: none; "><div data-v-ad432ce8="" class="shade" style="/* display: none; */"></div> <div data-v-ad432ce8="" class="main"><div data-v-ad432ce8="" class="tips" style="display: none;"></div> <div data-v-ad432ce8="" class="tips" style="display: none;"><div data-v-ad432ce8="" class="tips-bg">点击右上角分享给朋友</div></div> <div data-v-ad432ce8="" class="content" style="/* display: none; */"><div data-v-614943db="" class="common-content"><div data-v-614943db="" class="close"><i data-v-614943db=""></i></div> <h1 data-v-614943db="" class="fail">挑战败了</h1> <p data-v-614943db="" class="tips">你的挑战金被分走了...</p> <div data-v-614943db="" class="cat mt100"><img data-v-614943db="" src="./images/modal-fail.png" alt=""></div> <div data-v-614943db="" class="button"><a data-v-614943db="" href="javascript:">不服！继续挑战</a></div> <div data-v-614943db="" class="button border"><a data-v-614943db="" href="javascript:">喊好友来参加</a></div></div></div></div></div>
