extends ../../common/layout/layout
block append meta
  title 每日一听
block script
block footer
block footerCss
block footerJs
  script(src='./js/daily.js')
block localCss
  link(rel='stylesheet' href='./css/daily.css')
  // 解决iOS自动播放
  script.
    //必须在微信Weixin JSAPI的WeixinJSBridgeReady才能生效
    document.addEventListener("WeixinJSBridgeReady", function () {
      document.getElementById('audio').play();
    }, false)
block content
  nav.navbar
    a.morning(href='javascript:;')
      i.nav-icon &#xe741
      p 早安播报
    a.current.daily(href='./daily.html')
      i.nav-icon &#xe60d
      p 每日一听
    a.news(href='./news.html')
      i.nav-icon &#xe6e0
      p 新闻播报
  div.animate-box
  div#daily
    div.audio-box
      img.avatar(src='./images/tupian.png')
      div.personal
        p
          span.name Scott
          span.title 董事长
        p.company 传播正能量，我已连续早起
          span.count 5
          | 天
      span.toggle.pause
        audio#audio(src='http://web.lm720.com/upload/careershow/2017/11/49/music.mp3' preload='auto' autoplay="autoplay" loop='loop' hidden='hidden' controls='controls')
    div.img-box
    div.divider
    p.message 写留言
      i.nav-icon &#xe69e
    ul.list
      -for(var i=0;i<5;i++)
        li
          img(src='./images/reward.png')
          div.content
            p.name Scott
            p.desc 今天是个好日子
            p.time 昨天
          div.zan
            i.nav-icon &#xe658
            | 9999
