extends ../../common/layout/layout
block append meta
  title 打卡图
block script
block footer
block footerCss
block footerJs
  script(src='./js/graph.js')
block localCss
  link(rel='stylesheet' href='./css/graph.css')
  // 解决iOS自动播放
  script.
    //必须在微信Weixin JSAPI的WeixinJSBridgeReady才能生效
    document.addEventListener("WeixinJSBridgeReady", function () {
      document.getElementById('audio').play();
    }, false)
block content
  div#container
    // 默认大图
    div.full-container.picture
      div.img-box
        img.bg(src='' data-src='http://member.hc2117.com/upload/punchcard/punchcardimg/2017/12/19/c2fa6255ecdd3f7476bc376bb6b10247.jpeg')
        button 查看大图
      div.audio-box
        img.avatar(src='./images/tupian.png')
        div.personal
          p
            span.name Scott
            span.title 董事长
          p.company 重庆链脉网络科技有限公司
        span.toggle.pause
          audio#audio(src='http://web.lm720.com/upload/careershow/2017/11/49/music.mp3' preload='auto' autoplay="autoplay" loop='loop' hidden='hidden' controls='controls')
      div.text-box.exclude
        p.exclude
          span.exclude 【早安心语】
          | 减肥开始减肥开始的附件四发到空间就开始发生，发生的开发is房价快速减肥，犯傻了科技经费说到底防辐射服的快速减肥ID是。快捷方式独家垃圾啊哈哈ID复活甲阿卡丽就，积分收到了覅积分多少。减肥开始减肥开始的附件四发到空间就开始发生，发生的开发is房价快速减肥，犯傻了科技经费说到底防辐射服的快速减肥ID是。快捷方式独家垃圾啊哈哈ID复活甲阿卡丽就，积分收到了覅积分多少。
      div.arrow-box
        i
        i
    // 推广页面
    div.full-container.expand(style='background-image:url("./images/bg-full.png")')
      div.personal
        div.img-box
          img(src='http://member.lm720.com/upload/p/2017/10/17/2017101759e5af236a9f7834356965.jpg')
        p.nickname 这里是昵称
        p.tel 15663897563
      hr
      div.qr
        img(src='http://member.lm720.com/upload/e/2017/12/12/201712125a2f398729419815047256.png')
        p.desc 识别二维码加我微信
      div.btn-group
        a.btn.message(href='javascript:;') 给我留言
        a.btn.view(href='javascritp:;') 我的名片
      hr
      div.convert
        a.btn(href='javascript:;') 我也要生成早安播报
    // 查看大图
    div.modal-img(style='display:none')
      img(src='')
      div.close
        i
  // 加载动画
  <div class="weui-loading_toast "> <div class="weui-mask_transparent"></div> <div class="weui-toast weui-animate-fade-in"> <i class="weui-loading weui-icon_toast"></i> <p class="weui-toast__content">loading...</p> </div> </div>
