extends ../../common/layout/layout
block append meta
  title 打卡图
block script
block footer
block footerCss
block footerJs
  script(src='./js/graph.js')
block localCss
  link(rel='stylesheet' href='./css/graph.css')
  // 解决iOS自动播放
  script.
    //必须在微信Weixin JSAPI的WeixinJSBridgeReady才能生效
    document.addEventListener("WeixinJSBridgeReady", function () {
      document.getElementById('audio').play();
    }, false)
block content
  div#container
    // 默认大图
    div.full-container.picture
      div.img-box
        img(src='./images/test.png')
        button 查看大图
      div.audio-box
        img.avatar(src='./images/tupian.png')
        div.personal
          p
            span.name Scott
            span.title 董事长
          p.company 重庆链脉网络科技有限公司
        span.toggle.pause
          audio#audio(src='http://web.lm720.com/upload/careershow/2017/11/49/music.mp3' preload='auto' autoplay="autoplay" loop='loop' hidden='hidden' controls='controls')
      div.text-box.exclude
        p.exclude
          span.exclude 【早安心语】
          | 减肥开始减肥开始的附件四发到空间就开始发生，发生的开发is房价快速减肥，犯傻了科技经费说到底防辐射服的快速减肥ID是。快捷方式独家垃圾啊哈哈ID复活甲阿卡丽就，积分收到了覅积分多少。
      div.arrow-box
        i
        i
    // 推广页面
    div.full-container.expand
      div.personal
        img.avatar(src='./images/tupian.png')
        h4.name Scott
        p.tel 13586534586
      button.make 免费定制名片
      a.change(href='javascript:;') 换成我的
        span.arrow
    div.modal-img(style='display:none')
      img(src='./images/test.png')
      div.close
        i
