extends ../../common/layout/layout
block append meta
  title 竞价打卡
block script
block footer
block footerCss
block content
  // 顶部切换
  ul.navbar
    li.current
      a(href='index.html')
        i.nav-icon &#xe6a0
        | 打卡排行
    li
      a(href='challenge.html')
        i.nav-icon &#xe6a9
        | 早起挑战
    li
      a(href='invite.html')
        i.nav-icon &#xe6aa
        | 早安图
  // 占领封面
  div.cover-box
    img.cover(src='./images/success-bg.png')
    a.cover-info(href='javascript:;')
      img.avatar(src='./images/tupian.png')
      span 某某占领了封面
  // 参与人数
  div.join 已有5000人参与
  // 个人信息
  div.personal-box
    div.avatar-box
      img.avatar(src='./images/tupian.png')
      i.level.vip_icon_0
    div.nickname-box
      span.nickname 天天好心
      span.ranking 124
    // 打卡入口
    div.clock.active.hide
      div
        button.clock-in 马上打卡
      p 距离打卡结束剩余时间
        time.time 2:30:00
    // 今日已打卡
    div.clock.complete.hide
      div
        button.clock-in 查看我的早安图
      p 每天
        time.time 6:00~9:00
        | 开始打卡，前100名平分挑战金
    // 已过打卡时间
    div.clock.expired.hide
      div
        button.clock-in 打卡时间已过，请明日再来
      p 每天
        time.time 6:00~9:00
        | 准时打卡，将获得能量卡一张
    // 打卡未开始
    div.clock.waiting
      div
        button.clock-in 打卡还未开始
      p 每天
        time.time 6:00~9:00
        | 开始打卡，前100名平分挑战金
  // 排名切换
  ul.tab
    li.current 全国排名
    li 好友排名
  // 名次列表
  // 如果没有排名给list添加nothing
  ul.list
    - for(var i=0; i<10; i++)
      li
        span.order=(i>2?i+1:'')
        div.avatar-box
          img.avatar(src='./images/tupian.png')
          i.level.vip_icon_0
        div.content
          p
            // 如果当前用户已经实名认证就加上verify
            span.name(class={verify:i===0}) 陈润阳
              i
            span.title 讲师，董事长
          p.company 重庆链脉网络科技有限公司
        div.time
          time 09:24:38
        div.operation
          span.reward(class={hide:i>5})
          div.star-box(class={hide:i>5})
            p.count 0
            div.star
          span.remind(class={hide:i<=5}) 提醒打卡
  // 加载更多
  div.loadmore 点击加载更多
  // 打赏选择框
  div.modal-reward
    div.container
      div.background
      div.personal-box
        img.avatar(src='./images/tupian.png')
        p.nickname Scott Smith
      ul.money
        - for(var i=0;i<6;i++)
          li
            span 8.8元
      div.other-amount
        span
          span ￥
          input.amount(type='text' placeholder='其他金额')
          span 元
        p 成为第一个打赏的人吧
      div.btn-box
        button.pay 赏红包
  // 打卡成功对话框
  div.modal-success
    div.container
      i.close
      div.background
      h4 恭喜打卡成功
      p 前100名挑战者将平分挑战金
  include ../../common/component/modal-register/index
