extends ../../common/layout/layout
block append meta
  title 邀请卡
block footer
block footerCss
block footerJs
  script(src='./js/invite.js')
block localCss
  link(rel='stylesheet' href='./css/invite.css')
block content
