extends ../../common/layout/layout
block append meta
  title 你来听歌
block script
block footer
block footerCss
block footerJs
  script(src='./js/music.js')
block localCss
  link(rel='stylesheet' href='./css/music.css')
  // 解决iOS自动播放
  script.
    //必须在微信Weixin JSAPI的WeixinJSBridgeReady才能生效
    document.addEventListener("WeixinJSBridgeReady", function () {
      document.getElementById('audio').play();
    }, false)
block content
  include component/navbar/navbar
  + nav('music')
  div#music
    div.audio-box
      img.avatar(src='./images/tupian.png')
      div.personal
        p
          span.name Scott
          span.title 董事长
        p.company 传播正能量，我已连续早起
          span.count 5
          | 天
      span.toggle.pause
        audio#audio(src='http://web.lm720.com/upload/careershow/2017/11/49/music.mp3' preload='auto' autoplay="autoplay" loop='loop' hidden='hidden' controls='controls')
    div.img-box
      // 这里放文章
      article 这里是抓取的文章内容
        div.qr-box
          img.qr(src='./images/tupian.png')
      div.statistics
        div.read
          span 阅读
          span 10000
        div.zan
          span.nav-icon &#xe658
          span 5000
        div.complaint
          span 投诉
          span
      div.convert 换成我的
    div.divider
    p.message
      a(href='javascript:;') 写留言
        i.nav-icon &#xe69e
    ul.list
      -for(var i=0;i<5;i++)
        li
          a(href='javascript:;')
            img(src='./images/reward.png')
          div.content
            div
              p.name Scott
              // 如果有置顶就加上下面的标签
              span.top 置顶
            p.desc 今天是个好日子
            p.time 昨天
          div.zan
            span
              i.nav-icon &#xe658
              | 9999
    // 底部版权说明
    div.copy
      p 以上留言由链脉筛选后显示
      p
        a(href='javascript:;') 了解留言功能详情
    div.library-box
      a(href='music-library.html').choose
        i.icon-common &#xe543
        | 歌曲库
      a(href='javascript:;').reward
        | 打赏
  // 打赏框
  include component/modal-reward/index
  // 换成我的弹框
  include component/follow/index
  // 投诉建议
  include component/modal-complaint/index
  // 留言输入框
  include component/modal-message/index
  // 返回顶部
  div.to-top
    i.icon-common &#xe64a
