extends ../../common/layout/layout
block append meta
  title 自定义录音
block footer
block footerCss
block script
block localCss
  link(rel='stylesheet' href='./css/taping.css')
block footerJs
  script(src='./js/taping.js')
block content
  div.taping
    div.tip
      p 请录一段不少于5秒的录音内容
        br
        | 可以参考今日早安语文案
    div.content
      h3.title 早安语录
      p 【早安心语】今天是12月20日，星期三，农历11月初三；人生是一场旅行，不在乎目的地，在乎的是沿途的风景以及看风景的心情；人生是一条坎坷曲折的路，即使不断的跌倒，也一定要爬起来，坚持自己的梦想。记住，这一秒不放弃，下一秒就会有希望。朋友们，早安！
    div.record-box
      button.record
