@import "../../../common/reset/rest";
@font-face {
  font-family: 'iconfont';
  src: url('./iconfont/iconfont.eot');
  src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./iconfont/iconfont.woff') format('woff'),
  url('./iconfont/iconfont.ttf') format('truetype'),
  url('./iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.hide{
  display: none !important;
}
a,input,button{
  .setTapColor()
}
.header-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.lm__header{
  height: 1rem;
  background: linear-gradient(to right, #ffb85b 0%, #ff8e08 100%);
  display: flex;
  align-items: center;
}
.input-box{
  position: relative;
  margin-left: .9rem;
  input{
    width: 5.6rem;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 0 20px;
    color: #bbbbbb;
  }
  .iconfont{
    position: absolute;
    top: 3px;
    left: 2px;
    color: #bbbbbb;
  }
}
.toggle-bar{
  flex: 1;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 12;
  .select-box{
    position: fixed;
    top: 1rem;
    right: 10px;
    background: rgba(188,188,188,0.6);
    border-radius: 5px;
    z-index: 5;
    li{
      list-style: none;
      line-height: 25px;
      padding: 0 5px;
      &:not(:last-child){
        border-bottom: 1px solid #fff;
      }
    }
    a{
      color: #fff;
    }
    .add-post, .add-category{
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      background-size: cover;
    }
    .add-post{
      background-image: url("../images/add-post.png")
    }
    .add-category{
      background-image: url("../images/add-category.png");
    }
  }
  .iconfont{
    background: url('../images/add.png');
    background-size: cover;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}
.lm__touch-select{
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  &::after{
    .setBottomLine(#ccc)
  }
  li{
    list-style: none;
    padding: 0 15px;
    flex: 1 0 auto;
    &.selected{
      border-bottom: 2px solid #ef7f2d;
    }
  }
}

// 主体列表
.section-box{
  position: absolute;
  top: 1.8rem;
  width: 100%;
}
.lm__list{
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  margin-bottom: 1rem;
  &-item{
    flex: 0 1 33.33%;
    list-style:none;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    img{
      width: 1.4rem;
      height: 1.4rem;
      line-height: 1.4rem;
      text-align: center;
      border: 0;
      border-radius: 50%;
      align-self: center;
    }
    .container{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      width: 2.2rem;
      height: 2.8rem;
      background: #fff;
      border-radius: 5px;
      padding: 5px;
      &.selected{
        position: relative;
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0,0,0,.3);
          border-radius: 5px;
          z-index: 1;
        }
        &::after{
          content: '';
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          width: .6rem;
          height: .6rem;
          transform: translate(-50%, -50%);
          background: url('../images/xuanz.png') no-repeat;
          background-size: cover;
          
        }
      }
    }
  }
  .item-hot{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 26px;
    color: #bababa;
    a{
      color: #bababa;
      flex: 1;
      text-align: right;
    }
    .iconfont{
      background: url("../images/view.png") no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: text-bottom;
    }
  }
  .item-desc{
    .ellipsis()
  }
}
