extends ../../common/layout/layout
block append meta
  title 我的盟友
block script
block localCss
  link(rel='stylesheet' href='css/ally.css')
block footerJs
  script(src='js/ally.js')
block content
  div.header-fixed
    div.recommend 我的推荐人：
      span.name 你来听歌
      |（12345678901）
      span
      a(href='javascript:;') 进入名片
        i.icons &#xe629
    header
      ul.tabs
        li
          a(href='index.html')
            i.icon
            | 推广效果
        li.current
          a(href='ally.html')
            i.icon
            | 我的盟友
        li
          a(href='earning.html')
            i.icon
            | 我的收益
    div.search-box
      input(name='keyword' placeholder='请输入会员昵称或账号')
      button.search
        i.icons &#xe6cc
    // 筛选栏
    div.filters
      ul
        li.current
          span.name 直接会员
          span.mark 99
        li
          span.name 间接会员
          span.mark 3
        li
          span.name 合伙人
          span.mark 3
        li.filter
          span.name 筛选
  // 列表信息
  div.items
    ul.item-list
      -for(var i=0;i<10;i++)
        li
          a.avatar(href='javascript:;')
            img(src='images/header-1.jpg')
            i.vip.vip_icon_0
          div.content
            p.nickname 叫你来听歌
            p.time 2022年11月11日
          div.operation
            a.make(href='javascript:;') 替他制作
            a.open(href='javascript:;') 替他开店
  // 筛选框
  div.filter-box
    div.content
      div.register-date
        h3 注册日期
        div.date-box
          div.date-start
            input(type='text' placeholder='请选择开始时间' name='date-start' disabled)
            i.arrow
          | 至
          div.date-end
            input(type='text' placeholder='请选择结束时间' name='date-end' disabled)
            i.arrow
      div.customer-level
        h3 会员等级
        ul.level-list
          li
            span 免费
          li.selected
            span 金星
          li
            span 钻石
          li
            span 皇冠
          li
            span 合伙人
      div.result
        a(href='#').cancel 取消
        a(href='#').confirm 完成
