extends ../../common/layout/layout
block append meta
  title 推广效果
block script
block content
  header
    ul.tabs
      li.current
        a(href='index.html')
          i.icon
          |推广效果
      li
        a(href='ally.html')
          i.icon
          |我的盟友
      li
        a(href='earning.html:;')
          i.icon
          |我的收益
  section
    ul.item-list
      li
        a(href='javascript:;')
          div.icon-box
            i.icons &#xe6ac
          div.content
            p.name 文章
            p.desc 查看分享文章的推广效果
            p.statistics
              span.view 总浏览量
                strong 2
              span.share 总分享量
                strong 0
          div.arrow
      li
        a(href='javascript:;')
          div.icon-box
            i.icons &#xe608
          div.content
            p.name 商店
            p.desc 查看分享商店的推广效果
            p.statistics
              span.view 总浏览量
                strong 2
              span.share 总分享量
                strong 0
          div.arrow
      li
        a(href='javascript:;')
          div.icon-box
            i.icons &#xe64e
          div.content
            p.name H5
            p.desc 查看分享H5的推广效果
            p.statistics
              span.view 总浏览量
                strong 2
              span.share 总分享量
                strong 0
          div.arrow
      li
        a(href='javascript:;')
          div.icon-box
            i.icons &#xe66c
          div.content
            p.name 链脉名片
            p.desc 查看分享名片的推广效果
            p.statistics
              span.view 总浏览量
                strong 2
              span.share 总分享量
                strong 0
          div.arrow
