extends ../../common/layout/layout
block append meta
  title 多名片
block content
  // 顶部工具栏
  div.fixed-header
    a.delete(href='javascript:;') 删除
    div.input-box
      input(type='text' placeholder='请输入搜索内容' name='keyword')
      i.search
    a.modify(href='javascript:;') 修改
  // 名片列表
  ul.card-list
    - for(var i=0;i<10;i++)
      li(class={selected:i===0})
        div.box
          // 链接加上预览地址
          a.preview(href='javascript:;')
          button.default 默认
          div.mask
          img.avatar(src='http://member.lm720.com/upload/p/2017/10/17/2017101759e5af236a9f7834356965.jpg')
          p.nickname 红尘旧梦
          p.view 浏览量
            span.count 99
            // 当前使用中给button添加current这个类
            button(class={current:i===0})
    li.add
      div.box
        img.avatar
        p.nickname '添加'
        p.view '99'
        i.iconfont &#xa003
