extends ../../common/layout/layout
block append meta
  title 多名片
block content
  div.business-card
    div.search-bar
      input(name='content' placeholder='请输入搜索内容')
      button.search
        i.iconfont &#xe608
    ul.card-list
      li
        div.content(data-src='http://member.lm720.com/upload/2017/03/25/2017032558d646217ecc0728203925.jpg')
          div.use.current 使用中
          p.preview
            span.name Scoot
            span.view 浏览量 10
        div.operation
          a.btn.delete(href='javascript:;')
            i.iconfont &#xe636
            | 删除
          a.btn.edit(href='javascript:;')
            i.iconfont &#xe669
            | 修改
      li
        div.content(data-src='http://member.lm720.com/upload/2017/03/25/2017032558d646217ecc0728203925.jpg')
          div.use 使用
          p.preview
            span.name Scoot
            span.view 浏览量 10
        div.operation
          a.btn.delete(href='javascript:;')
            i.iconfont &#xe636
            | 删除
          a.btn.edit(href='javascript:;')
            i.iconfont &#xe669
            | 修改
      li
        div.content(data-src='http://member.lm720.com/upload/2017/03/25/2017032558d646217ecc0728203925.jpg')
          div.use 使用
          p.preview
            span.name Scoot
            span.view 浏览量 10
        div.operation
          a.btn.delete(href='javascript:;')
            i.iconfont &#xe636
            | 删除
          a.btn.edit(href='javascript:;')
            i.iconfont &#xe669
            | 修改
      li.add
        div.content
          div.add
            i.iconfont &#xe60e
  // 添加名片弹窗
  div.modal-add(style='display:none')
    div.modal-add-content
      p 添加名片
      input(name='name' placeholder='名片名称')
      button.add-save 取消
