mixin cardList(buttons)
  ul.sm-list
    -for(var i=0;i<3;i++)
      li
        div.personal
          a.avatar(href='javascript:;')
            img(src='../article/images/lm.png')
            i.vip.vip_icon_0
        div.content
          div.name-box
            // 如果该用户已经认证就加上verify这个类
            span.nickname(class={verify: i < 2}) 添加粉丝
          a(href='javascript:;').credit
            span.mark 诚信度
            span
              i.full
              i.full
              i.half
              i.nothing
              i.nothing
          p.category 重庆·教育培训
          p.company 重庆链脉网络科技有限公司
          p.post 行政助理
          div.info
            div
              span.name.demand 需求
              div.desc 需求描述信息
            div
              span.name.supply 供应
              div.desc 供应信息描述
            div
              span.name.recruitment 招聘
              div.desc 这里是招聘信息
        div.operation
          if buttons.indexOf('delete') > -1
            button.delete.supply 删除
          if buttons.indexOf('accept') > -1
            button.accept 同意
          if buttons.indexOf('reject') > -1
            button.reject 拒绝
          if buttons.indexOf('revert') > -1
            button.revert 撤销
          if buttons.indexOf('group') > -1
            button.group 分组
