// 换成我的
div#convert-box
  div.convert__mask
  div.convert__content
    div.convert__content__header 用海报推广您的名片
    div.convert__content__section
      div.qr
        img(src='http://member.lm720.com/upload/e/2018/02/05/201802055a77bc1fb5bca424486430.png')
      div.tips
        p 长按识别二维码
        p
          span.mark 10秒
          |创建您的名片
    div.convert__content__footer
      div.close
