extends ../../common/layout/layout
block append meta
  title 模板分类
block localCss
  link(rel='stylesheet' href='./css/category.css')
block footerJs
  script(src='./js/category.js')
block content
  header.header
    div.choose
      div.area
        span 重庆
        i.iconfont
      input.content(placeholder='搜索名片')
      i.iconfont.search &#xe662
  section
    div.tpl-list
      ul
        -for (var i=0; i < 10; i++)
          li
            div.tpl-img
              img(src='./images/tupian.png')
              img.tpl-mark(src='./images/biaoshi.png')
            div
              p.flex
                span.tpl-name 陈润阳
                span.tpl-desc 讲师，董事长
              p.tpl-company 重庆链脉网络科技有限公司
            a(href='javascript:;') 复制名片
    // 如果搜索数据为空就将.tpl-list隐藏,显示下面的数据(去掉hide)
    div.nothing.hide
      img(src='./images/nothing.png')
      p 暂无数据
