extends ../../common/layout/layout
block append meta
  title 诚信等级
block script
block footer
block footerCss
block footerJs
  script(src='js/credit.js')
block localCss
  link(rel='stylesheet' href='./css/credit.css')
block content
