extends ../../common/layout/layout
block append meta
  title 上传图片
block localCss
  link(rel='stylesheet' href='./css/upload.css')
block script
block footerJs
  script(src='./js/upload.js')
block footer
block footerCss
block content
  div.upload
    div.container
      img(src='images/bg.png')
      input(type='file' accept='image/*' name='file')
    button.submit 上传图片
