<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>商品模板</title>
  <link rel="stylesheet" href="./css/template.css">
  <!--动态计算各尺寸下的fontSize-->
  <script>
    (function (document, window, size) {
      var html = document.documentElement,
        resizeEvent = 'orientationchange' in window ? 'orientationchange' : 'resize',
        calcFontSize = function () {
          var deviceWidth = html.clientWidth > 1300 ? 1300 : html.clientWidth
          html.style.fontSize = 100 * (deviceWidth / size) + 'px'
        }
      if (!document.addEventListener) { return }
      window.addEventListener(resizeEvent, calcFontSize, false)
      document.addEventListener('DOMContentLoaded', calcFontSize, false)
    })(document, window, 750)
  </script>
  <!--临时引入jQuery-->
  <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</head>
<body>
  <header class="header-box">
    <div class="tpl__select">
      <div class="tpl__select-active">个人模板</div>
      <div class="open-modal">官方模板</div>
    </div>
    <div class="tpl__header">
      <div class="tpl__header__search">
        <input type="text" id="search" placeholder="请输入个人电话或名称">
        <i class="icon iconfont">&#xe662;</i>
      </div>
      <div class="tpl__header__button">
        <button class="button">搜索</button>
      </div>
    </div>
  </header>
  <main>
    <!--个人模板列表-->
    <div class="tpl-list">
      <div class="title">推荐商脉</div>
      <ul>
        <li>
          <div class="tpl-img">
            <img src="./images/tupian.png" alt="图片">
            <img class="tpl-mark" src="./images/biaoshi.png">
          </div>
          <div>
            <p><span class="tpl-name">陈润阳</span><span class="tpl-desc">讲师，懂事长</span></p>
            <p class="tpl-company">重庆链脉网络科技有限公司</p>
          </div>
          <a href="#">查看链店</a>
        </li>
        <li>
          <div class="tpl-img">
            <img src="./images/tupian.png" alt="图片">
            <img class="tpl-mark" src="./images/biaoshi.png">
          </div>
          <div>
            <p><span class="tpl-name">陈润阳</span><span class="tpl-desc">讲师，懂事长</span></p>
            <p class="tpl-company">重庆链脉网络科技有限公司</p>
          </div>
          <a href="#">查看链店</a>
        </li>
        <li>
          <div class="tpl-img">
            <img src="./images/tupian.png" alt="图片">
            <img class="tpl-mark" src="./images/biaoshi.png">
          </div>
          <div>
            <p><span class="tpl-name">陈润阳</span><span class="tpl-desc">讲师，懂事长</span></p>
            <p class="tpl-company">重庆链脉网络科技有限公司</p>
          </div>
          <a href="#">查看链店</a>
        </li>
      </ul>
    </div>
    <!--模板选择对话框-->
    <div class="modal-template hide">
      <ul class="type-list">
        <li>类别1</li>
        <li class="active">类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
        <li>类别1</li>
      </ul>
      <div class="container">
        <div class="banner">
          <img src="images/tupian.png" alt="bannner">
        </div>
        <ul class="outer-list">
          <li id="lm-A">
            <h3 class="type-title">A</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <p class="child-type">乐美佳</p>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
          <li id="lm-B">
            <h3 class="type-title">B</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
          <li id="lm-C">
            <h3 class="type-title">C</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
          <li id="lm-D">
            <h3 class="type-title">D</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
          <li id="lm-E">
            <h3 class="type-title">E</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
          <li id="lm-F">
            <h3 class="type-title">F</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
          <li id="lm-G">
            <h3 class="type-title">G</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
          <li id="lm-H">
            <h3 class="type-title">H</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
          <li id="lm-I">
            <h3 class="type-title">I</h3>
            <ul class="subtype-list">
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
              <li>
                <a href="#" class="link">
                  <img src="./images/tupian.png" alt="模板图片">
                  <span class="child-type">乐美佳</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="nav-bar">
        <li><a href="#lm-A" class="current">A</a></li>
        <li><a href="#lm-B">B</a></li>
        <li><a href="#lm-C">C</a></li>
        <li><a href="#lm-D">D</a></li>
        <li><a href="#lm-E">E</a></li>
        <li><a href="#lm-F">F</a></li>
        <li><a href="#lm-G">G</a></li>
        <li><a href="#lm-H">H</a></li>
        <li><a href="#lm-I">I</a></li>
      </ul>
    </div>
  </main>
</body>
</html>
