extends ../../common/layout/layout
block append meta
  title 创建名片
block script
block footer
block footerCss
block content
  div.create
    p.title 您还没有创建名片哦！
    div.tips
      div
        span.mark
        span 极速分享曝光
      div
        span.mark
        span 获取精准人脉
      div
        span.mark
        span 分享得佣金
    div.qr-box
      img(src='../home/images/vip.png')
      p.desc - 高效扩充人脉宝库 迅速抢占市场先机 -
    a(href='javascript:;').confirm 扫码10秒创建我的名片
