//- 商品页面底部导航
ul.shop-nav
  li
    a(href='#')
      i.nav-icon &#xe608
      p 商店首页
  li
    a(href='#')
      i.nav-icon &#xe642
      p 商品管理
  li
    a(href='#')
      i.nav-icon &#xe615
      p 商品分类
  li
    // 给a添加current类用于区别当前页
    a.current(href='javascript:;')
      i.nav-icon &#xe600
      p 购物车
      div.count 9
