//- 主页面浮层导航
div.nav-box
  div.toggle
    i.nav-icon &#xe604
  div.modal-nav
    div.mask
    div.content
      ul.nav-list
        li
          a(href='javascript:;')
            i.nav-icon &#xe61d
            span 我的
        li
          a(href='javascript:;')
            i.nav-icon &#xe624
            span 推广
        li
          a(href='javascript:;')
            i.nav-icon &#xe6aa
            span 早安图
// 我要开店
div.create-shop
