//- 主页面浮层导航
div.nav-box
  div.toggle
    i.nav-icon &#xe6b7
  div.modal-nav
    div.mask
    div.content
      ul.nav-list
        li
          a(href='javascript:;')
            i.nav-icon &#xe624
            | 推广
          i.arrow
        li
          a(href='javascript:;')
            i.nav-icon &#xe667
            | 商脉
          i.arrow
        li
          a(href='javascript:;')
            i.nav-icon &#xe608
            | 商店
          i.arrow
        li.current
          a(href='javascript:;')
            i.nav-icon &#xe61d
            | 我
          i.arrow
