// 页脚导航
footer#lm-footer
  ul.list
    li
      a(href='#')
        i.iconfont &#xa046
        p 推广
    li
      a(href='#')
        i.iconfont &#xa047
        p 商脉
    li
      a(href='#')
        img.avatar(src='./images/icon/huor.png')
    li
      a(href='#')
        i.iconfont &#xa044
        p 商店
    li
      // 给a添加current类用于区别当前页
      a.current(href='#')
        i.iconfont &#xa045
        p 我
