doctype html
html
  head
    block meta
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,' +
      'user-scalable=no')
      meta(name='format-detection' content='telephone=no,email=no')
    block script
      // 不能将该标签删除
      script
        include:uglify-js ../../../dist/calc_font_size.js
    block localCss
      link(rel='stylesheet' href='./css/index.css')
    block footerCss
      // todo 将底部导航公用样式替换为公用路径
      style
        include:less ../reset/footer.less
    block weui
      // todo 将weui的路径替换为项目公用路径
      link(rel='stylesheet' href='https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css')
      // todo 将weui.js替换为项目公用路径
      script
        include ../../common/weui/weui.min.js
      // todo 将jquery替换为项目公用的样式
      script(src='http://code.jquery.com/jquery-1.12.4.min.js', defer)
  body.lm-container
    block content
    block footer
      include footer
    block footerJs
      script(src='./js/index.js' defer)
