extends ../../common/layout/layout
block append meta
  title 名片夹
block prepend localCss
  link(rel='stylesheet' href='css/common.css')
block content
  header.fixed-header
    div.search-box
      input(name='keywords' placeholder='请输入姓名或手机搜索')
      button.search
        i.card-icon &#xe6f0
    div.card-tabs
      a.tab.current(href='index.html')
        div.bg
          i.pinyin 拼
        p 拼音
      a.tab(href='industry.html')
        div.bg
          i.card-icon &#xe70d
        p 行业
      a.tab(href='group.html')
        div.bg
          i.card-icon &#xe710
        p 分组
      a.tab(href='message.html')
        div.bg
          i.card-icon &#xe7a8
        p 消息
  // 名片列表
  - var list =['A','B','C','D','E','F','G','H','I','J']
  div.all-cards
    ul
      each item,index in list
        li
          p.category-type(id='lm-'+item)=item
          include components/card-list
          + cardList(['wechat','delete'])
    ul.nav-bar
      each item,index in list
        li
          a(href='#lm-' + item class={current: index == 0})=item
