extends ../../common/layout/layout
block append meta
  title 名片夹
block localCss
  link(rel='stylesheet' href='css/common.css')
  link(rel='stylesheet' href='css/industry.css')
block footerJs
  script(src='js/industry.js')
block content
  header.fixed-header
    div.search-box
      input(name='keywords' placeholder='请输入姓名或手机搜索')
      button.search
        i.card-icon &#xe6f0
    div.card-tabs
      a.tab(href='index.html')
        div.bg
          i.pinyin 拼
        p 拼音
      a.tab.current(href='industry.html')
        div.bg
          i.card-icon &#xe70d
        p 行业
      a.tab(href='group.html')
        div.bg
          i.card-icon &#xe710
        p 分组
      a.tab(href='message.html')
        div.bg
          i.card-icon &#xe7a8
        p 消息
  // 行业分类列表
  ul.industry-list
    -for(var i=0;i<10;i++)
      li
        div.item-title
          a.avatar(class='list-'+(i+1) href='javascript:;')
          div.content
            p.item-name 商务·市场
            p.member 成员：88
          i.arrow
        div.list-container
          include components/card-list
          + cardList(['wechat','delete'])
