// 打赏弹窗
div.modal-reward
  div.content
    div.header 请选择打赏金额
      i.close
    div.section
      ul.amount-list
        li.selected 1元
        li 6元
        li 6.6元
        li 8.8元
        li 16.6元
        li 18.8元
      div.amount
        p 土豪请随意
        input(name='amount' placeholder='请输入金额' type='number')
    div.footer
      button.pay 确认支付
