//- 关注公众号
div.modal-follow.follow
  div.content
    div.section
      div.icon
      p.follow 还未打卡，不能换成我的。
      p 未关注公众号，请扫码关注。
      div.btns
        button.yes 马上打卡
        button.no 不了，先看看
        button.cancel 知道了
    div.footer
      div.close
