extends ../../common/layout/layout
block append meta
  title 某某商店
block localCss
  link(rel='stylesheet' href='./css/shop.css')
block footerJs
  script(src='./js/shop.js')
block footer
block footerCss
block content
  div.header-box
    img.bg(src='./images/bg.png')
    div
      img.avatar(src='./images/tupian.png')
      div
        p.store-name 化妆品店铺
        p.desc 化妆品
  // 店主信息
  div.store-details
    div.avatar-box
      a(href='javascript:;')
        img.avatar(src='./images/tupian.png')
    div.content
      div.verify
        span.name 今天是个好日子
        // 星星个数加上 level_n (1<n<=5)
        span.star.level_2
        // 如果要颜色区别给下面元素加上complete这个类
        div.id
          i.nav-icon &#xe638
          p 身份认证
        // 如果要颜色区别给下面元素加上complete这个类
        div.official
          i.nav-icon &#xe8f6
          p 官方认证
      div.concat
        p.tel
          span.mark
            i.nav-icon &#xe625
          a(href='tel:15689654236') 15689654236
  // 商品分类列表
  div.shop-list
    //- 商品列表样式
    mixin storeList(type)
      div.hot
        p.list-title #{type}
        ul.store-list
          -for(var i=0;i<5;i++)
            li
              a(href='javascript:;')
                img(src='./images/tupian.png')
              div.content
                p.name 某某化妆品
                p.type 化妆品
              div.operation
                span.price ￥189
                // 如果要颜色区分已选的商品，可添加has这给类给购物车
                // 将商品的id写入到data-id属性中
                span.cart.nav-icon(data-id='1100') &#xe600
    // 热销商品
    + storeList('精品热销')
    + storeList('品牌热卖')
    + storeList('新鲜抢先')
    button.show-more 查看更多
  // 商品导航
  include components/shop-nav/index
  + footerModule(0)
  // 浮层导航
  include components/modal-nav/index
  // 会员等级开店说明
  div.modal-level
    div.mask
    div.content
      div.header
        p 会员等级权益
        p 可开店铺数量
        i.close
      div.section
        ul
          li
            span.vip_icon_0
            span.level 免费会员
            span.num 可开0个店铺
          li
            span.vip_icon_1
            span.level 金星会员
            span.num 可开1个店铺
          li
            span.vip_icon_2
            span.level 钻石会员
            span.num 可开3个店铺
          li
            span.vip_icon_3
            span.level 皇冠会员
            span.num 可开3个店铺
          li
            span.vip_icon_4
            span.level 创客会员
            span.num 可开5个店铺
          li
            span.vip_icon_9
            span.level +99元创建一个店铺
      div.footer
        a.upgrade(href='javascript:;') 确定升级
        a(href='javascript:;') 加购商品
