extends ../../common/layout/layout
block append meta
  title 商店管理
block localCss
  link(rel='stylesheet' href='./css/shop-manage.css')
  link(rel='stylesheet' href='http://bgrins.github.io/spectrum/spectrum.css')
block footerJs
  script(src='./js/shop-manage.js')
  script(src='http://bgrins.github.io/spectrum/spectrum.js' defer)
block footer
block footerCss
block content
  div.shop
    div.status
      span 商城状态
      div.custom-checked
        div.checked
          // 如果要选中给下面的input添加checked属性
          input(type='checkbox' name='status')
          i.toggle-bar
          div.bg
    div.name
      span 商店名称
      input(name='name' placeholder='请输入商品名称')
    div.theme-color
      p.title 主题肤色
      div.content
        div.add
        ul.theme-list
          -for(var i=0;i<7;i++)
            li(class={current:i==0} data-id=i)
              img(src='./images/tupian.png')
              // 将设定颜色内联
              p.title(style='background: #ccc')
                span.theme-name 烈日红颜
                span 主题
              i.mark
    div.banner
      p.title 广告图片
      img(src='./images/bg.png')
      input.upload(name='upload' type='file' accept='image/*')
      div.add
    div.desc
      p.title 商品介绍
      textarea(name='desc')
    // 其他入口
    div.entry-box
      a(href='manage.html').manage
      a(href='category.html').category
      a(href='javascript:;').order
    div.submit-box
      button.submit(type='button') 确认提交
