extends ../../common/layout/layout
block append meta
  title 认证说明
block localCss
  link(rel='stylesheet' href='./css/verify-desc.css')
block footerJs
  //-script(src='./js/details.js')
block footer
block footerCss
block content
  h3.title 加V认证说明
  ul
    li 加V认证是对个人信息真实性的一种认证。
    li 加V后，凡头像出现的地方将显示加V图标，让别人更加信任你。
    li 加V后，你将获得更多的关注和优质的资源。
    li 加V后，若要修改姓名、职位、公司、职位信息需要重新认证。
  h3.title 如何认证？
  ul
    li 完善名片基本信息：姓名、职位、公司。
    li 上传名片或工牌（工作说明）。
    li 上传手持身份证正面照片。
    li 上传营业执照正面。
    li 认证申请后，掌门小秘书会在5-7个工作日内通知您认证结果。
  a.verify(href='javascript:;') 立即认证
