@import "../../../common/reset/rest";
@default_color: #ff6501;
/*顶部切换按钮*/
button,input{
  .setTapColor()
}
.desc{
  color: #b1b1b1;
  font-size: 14px;
}
.tab{
  height: 40px;
  display: flex;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 11;
  a{
    flex: 0 0 50%;
    line-height: 40px;
    color: inherit;
    &:first-child{
      position: relative;
      &::after{
        .setRightLine()
      }
    }
    &.current{
      background: @default_color;
      color: #fff;
    }
  }
  &::after{
    .setBottomLine()
  }
}

/*视频列表信息*/
.video-list{
  margin-top: 50px;
  .setTapColor();
  li{
    list-style: none;
    display: flex;
    background: #fff;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  img{
    width: 2.08rem;
    height: 1.26rem;
    vertical-align: bottom;
  }
  .text-box{
    flex: 1;
    padding: 0 10px;
  }
  .operation{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    a{
      color: inherit;
      width: 68px;
      height: 18px;
      border-radius: 9px;
      border: 1px solid #cbcbcb;
      font-size: 12px;
      text-align: center;
      line-height: normal;
    }
    .icon{
      display: inline-block;
      width: .22rem;
      height: .22rem;
      margin-right: 5px;
      background: url('../images/edit.png') no-repeat;
      background-size: contain;
    }
    .delete{
      margin-top: 8px;
      background: @default_color;
      color: #fff;
      border-color: @default_color;
      .icon{
        background-image: url('../images/delete.png');
      }
    }
  }
  .desc,h4{
    font-weight: normal;
    .ellipsisLn(1)
  }
  .play{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: .6rem;
      height: .6rem;
      top: 50%;
      left: 50%;
      background: url('../images/play.png') no-repeat;
      background-size: contain;
      transform: translate(-50%, -50%);
    }
  }
}
