@import "mixin/setOnepx";
@font-face {
  font-family: iconfont;
  src: url('//at.alicdn.com/t/font_229456_83e0k8ii6tsdobt9.ttf') format('truetype');
}
.iconfont{
  font-family: "iconfont"!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#lm-footer{
  @footer-color: #fd9923;
  @footer-border: #bdbfc1;
  height: 56px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999;
  font-size: 16px;
  line-height: normal;
  &::before{
    .setTopLine(@footer-border)
  }
  .list{
    display: flex;
    height: 100%;
  }
  li{
    flex: 1;
    list-style: none;
  }
  a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    &.current{
      color: @footer-color;
    }
  }
  .iconfont{
    font-size: 28px;
  }
  .avatar{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid @footer-color;
  }
}
.lm-container{
  padding-bottom: 60px;
}
