@import "import";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100 * (100vw / 750);
}

body {
  line-height: 1.6;
  font-family: @weuiFontDefault;
  font-size: .3rem;
  color: #333;
  background-color: #eeeff3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a img {
  border: 0;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  .setTapColor();
}
li{
  list-style: none;
}
button,input,textarea{
  outline: none;
  border: none;
  -webkit-appearance: none;
  .setTapColor()
}
