//- 投诉框
div.modal-complaint
  div.content
    div.header
      p 投诉建议
      i.close
    div.section
      input.name(name='name' placeholder='姓名')
      input.tel(name='tel' placeholder='手机号码')
      textarea.desc(name='content' placeholder='请输入您要反馈的意见（100个字以内）')
    div.footer
      button.submit 提交
