@font-face {font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont/iconfont.woff') format('woff'),
  url('iconfont/iconfont.ttf') format('truetype'),
  url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{font-family:"iconfont" !important; font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}

* {margin:0; padding:0; -webkit-font-smoothing:antialiased;}
body {margin:0px; padding:0px; background:#f3f3f3; font-family:"microsoft yahei"; font-size:12px; color:#333;}
h1,h2,h3,img,input,button,p,ul,dl,dt,dd,li,i{margin:0; padding:0; list-style:none; font-family:"Microsoft YaHei"; border:0}
a{text-decoration:none;}
input[type="text"], input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
/*select,textarea {-webkit-appearance: none;}*/
select {-webkit-appearance: none; background: url(img/select_arrow.png) no-repeat right center transparent !important; padding-right: 20px; border: 0px; outline: none;}
.clear {clear:both;}
.f_red {color:#F30 !important;}
.f_blue {color:#069 !important;}
.f_green {color:#090 !important;}
.f_orange {color:#F60 !important;}
.p_top_0 {padding-top: 0px !important;}
.bor_bottom_0 {border-bottom: 0px !important;}
.f_l {float:left;}
.f_r {float:right;}
.t_left {text-align:left !important;}
.t_center {text-align:center !important;}
.t_right {text-align:right !important;}
.textarea {border: 1px solid #ccc; background: #fff; padding: 10px; width: 100%; box-sizing: border-box; line-height: 20px; height: 13vh; outline: none;}
.select_box {border: 0px; outline: none; background: none;}
.font_12 {font-size: 12px !important;}

.mt_10 { margin-top:10px;}
.bg_eee {background: #eee !important;}

/*vip图标*/
/*免费*/
.vip_icon_0 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -83px;}
/*金星*/
.vip_icon_1 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px 0px;}
/*钻石*/
.vip_icon_2 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -55px;}
/*皇冠*/
.vip_icon_3 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -27px;}
/*创客*/
.vip_icon_4 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -112px;}
/*代理*/
.vip_icon_5 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -144px;}
/*省代理*/
.vip_icon_6 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -174px;}
/*市代理*/
.vip_icon_7 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -204px;}
/*认证V*/
.vip_icon_8 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -234px;}
/*运营商*/
.vip_icon_9 {display: inline-block; width: 22px; height: 23px; background: url(img/vip_icon.png) no-repeat 0px -261px;}


/*加载动画*/
.spinner {margin: 100px auto 0 auto; width: 150px; text-align: center;}
.spinner > div {width: 30px;height: 30px;background-color: #67CF22;border-radius: 100%;display: inline-block;-webkit-animation: bouncedelay 1.4s infinite ease-in-out;animation: bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.spinner b {display: block;line-height: 40px;}
.spinner .bounce1 {-webkit-animation-delay: -0.32s;animation-delay: -0.32s;}
.spinner .bounce2 {-webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes bouncedelay {0%, 80%, 100% {-webkit-transform:scale(0.0);}40% {-webkit-transform:scale(1.0);}}
@keyframes bouncedelay {0%, 80%, 100% {transform:scale(0.0);-webkit-transform:scale(0.0);}40% {transform:scale(1.0);-webkit-transform:scale(1.0);}}

/*整体布局*/
.g_flex {display: flex; flex-direction: column-reverse; width: 100%; height: 100%; position: absolute;}
.g_footer {height: 50px; width: 100%; /*background: #333;*/ background-color: #fff; border-top: 1px solid #ddd; display: flex; z-index: 10; flex-shrink: 0;}
.g_box {display: flex; flex-direction: column; width: 100%; height: 100%;}
.g_home {flex-direction: column;overflow-y: scroll; width: 100%; -webkit-overflow-scrolling: touch;}
.copyright {text-align: center; padding: 0; color: #999; line-height: 0px; height: 20px; opacity: 0;}
.copyright a {color: #0033CC;}

/*底部*/
.g_footer li {flex: 1; text-align: center; box-sizing: border-box; padding-top: 6px; /*color: #fff;*/ color: #666; position: relative;}
.g_footer li i {font-size: 20px; display: block; line-height: 20px; position: relative;}
.g_footer li i b {position: absolute; top: 1px; right: 50%; margin-right: 10px; width: 6px; height: 6px; border-radius: 50%; background: #f00; vertical-align: middle;}
.g_footer .select {color: #f60;}
.g_footer p {width: 56px; height: 56px; border: 3px solid #fff; position: absolute; bottom: 8px; left: 50%; margin-left: -28px; border-radius: 50%; overflow: hidden; box-shadow: 0px 0px 8px 1px #333;}
.g_footer p img {width: 100%; height: 100%;}

/*带按钮的底部*/
.g_footer dl {flex: 1; text-align: center; box-sizing: border-box; color: #fff; font-size: 14px; line-height: 50px;}
.g_footer dl:last-child {flex: 3; background: #f60;}


.onOffBtn {display:inline-block;position:absolute;right:10px;width: 60px;height: 30px;line-height:30px;box-sizing:border-box;border-radius: 15px;background: #333;}
.onOffBtn:before {position:absolute;left:8px;content: '开';color: #26ca28;font-size: 14px;}
.onOffBtn:after {position:absolute;right:8px;content: '关';color: #ddd;font-size: 14px;}
.onOffBtn label {display: block;width: 30px;height: 24px;border-radius: 12px;-webkit-transition: all .5s ease;transition: all .5s ease;position: absolute;top: 3px;z-index: 1;left: 3px;background: #ddd;}
.onOffBtn input[type=checkbox]:checked + label {left: 27px;background: #26ca28;}
.onOffBtn input[type=checkbox] {visibility:hidden; display:none;}
.onOffBtn2 {right: 0;}
.onOffBtn2:before {content: '是';}
.onOffBtn2:after {content: '否';}

/*遮罩层*/
.mask_img {position: fixed; width:100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.9); color: #FFFFFF; display: none; z-index: 10;}
.mask_img .content {width: 50vw; height: 50vh; position: absolute; top: 25vh; left: 25vw;}
.mask_img .content .img {width: 50vw; height: 45vh; text-align: center; }
.mask_img .content .img span {display: inline-block; height: 100%; vertical-align: middle;}
.mask_img .content .img img {max-height: 45vh; max-width: 50vw; margin: 0 auto; vertical-align: middle;}
.mask_img .content p {position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; line-height: 4vh; font-size:3.5vw;}
.mask_img .close {position: absolute; top: 5px; right: 5px; width: 26px; height: 26px; line-height: 100%; background: #fff; color: #f00; font-size: 26px; text-align: center; border-radius: 50%;}

.mask_info {position: fixed; width:100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.8); display: none; z-index: 10;}
.mask_info .mask_in {width: 80%; height: 60%; position: absolute; top: 20%; left: 10%; background: #fff; border-radius: 10px;}
.mask_info .mask_in_small {height: 40% !important; top: 30% !important;}
.mask_info .mask_in .close {position: absolute; top: -5px; right: -5px; width: 26px; height: 26px; line-height: 100%; background: #f00; color: #fff; font-size: 26px; text-align: center; border-radius: 50%; z-index: 10;}
.mask_info .mask_in .content {display: flex; flex-direction: column; height: 100%; padding: 10px; box-sizing: border-box; position: relative; overflow: hidden;}
.mask_info .mask_in .content .block {flex: 1; height: 100%;}
.mask_info .mask_in .content .button {height: 35px; width: 100%; background: #f60; color: #fff; text-align: center; line-height: 35px; position: absolute; bottom: 0px; left: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.mask_info .mask_in .content .block h3 {font-size: 15px; line-height: 30px;}
.mask_info .mask_in .content .block li {padding: 10px 0;}
.mask_info .mask_in .content .block li .input {border-bottom: 1px solid #ccc; line-height: 30px; height: 30px; width: 100%; outline: none;}


/*遮罩提示层，文字类或二维码提示*/
.mask_01 {width:100%; height:100%; position:fixed; background:rgba(0,0,0,0.85); z-index:999; top:0px; left:0px; display:none;}
.mask_01 .content {width:80%; height:80%; position:absolute; top:10%; left:10%; background:#fff; border-radius:6px;}
.mask_01 .content_in {padding:15px; text-align:center; position:absolute; width:100%; height:100%; box-sizing: border-box;}
.mask_01 .content_in2 {padding:15px; text-align:left;}
/*协议*/
.mask_01 .content_text {padding:0 15px; overflow:auto; line-height:22px; position:absolute; top:5%; left:0px; height:90%; text-align: left;}
.mask_01 .content_text b {display:block; font-size:14px; line-height:26px;}
/*卡密*/
.mask_01 .content_card {width:80%; height:200px; position:absolute; top:50%; left:10%; margin-top:-100px; background:#fff; border-radius:6px;}
.mask_01 .close {width:25px; height:25px; border:3px solid #fff; border-radius:18px; background:#F00; font-size:23px; line-height:16px; text-align:center; font-weight:bold; color:#fff; position:absolute; top:-7px; right:-7px; z-index:999;}
.mask_01 img {width:80%; margin:0 auto;}
.mask_01 dl {padding:10px 0; border-bottom:1px solid #d3d3d3; text-align:left; line-height: 20px; word-wrap:break-word;}
.mask_01 .input {padding:10px 0px; width:100%; text-align:center; background:#eee;}
.mask_01 .input2 {padding:10px 0px; width:50%; text-align:center; background:#eee;}
.mask_01 .but {background:#09C; width:100%; text-align:center; padding:8px 0 8px 0 !important; border:0px; color:#fff; font-size: 14px;}
.mask_01 .mui-checkbox.mui-left input[type=checkbox] {left:0px;}
.mask_01 .mui-checkbox.mui-left label {padding-left:35px; padding-right:0px; line-height:36px;}
.mask_01 strong {color: #f00; padding-right: 3px;}
.mask_01 .guestbook li {padding: 10px 0;}

/*body样式*/
.wj_flex_body { display: flex; flex-direction: column; width: 100vw; height: 100vh; }
/*主要内容*/
.wj_main { flex-grow: 1; width: 100vw; overflow-y: scroll; }

/*编辑器*/
.mmedit {background: #fff;}
.mmedit .button {display: flex;}
.mmedit .button li {flex: 1; padding-right: 15px;}
.mmedit .button li:last-child {padding-right: 0;}
.mmedit .button li p {border: 1px solid #ccc; line-height: 35px; text-align: center; font-size: 14px; border-radius: 5px; background: linear-gradient(#fff,#eee)}
.mmedit .content {border: 1px solid #ccc; margin: 0 auto 15px auto; padding: 10px; border-radius: 5px;}
.mmedit .content p {border:1px dashed #f00; padding: 10px 10px 20px 10px; margin: 0 0 25px 0; position: relative; border-radius: 3px; line-height: 20px;}
.mmedit .content p img {width: 100%;}
.mmedit .content .edit_button {display:flex; background: #fff; border: 1px solid #f00; height: 28px; width: 30vw; box-sizing: border-box; padding: 3px; position: absolute; right: 10px; bottom: -14px; border-radius: 3px; text-align: center;}
.mmedit .content .edit_button span {display: inline-block; flex: 1;}
.mmedit .content .edit_button .del {width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 18px;}
.mmedit .content .edit_button .up {height: 0; width: 0; border-bottom: 10px solid #bbb; border-left: 8px solid transparent; border-right: 8px solid transparent; line-height: 0; margin-top: 5px;}
.mmedit .content .edit_button .down {height: 0; width: 0; border-top: 10px solid #bbb; border-left: 8px solid transparent; border-right: 8px solid transparent; line-height: 0; margin-top: 5px;}
.mask_mmedit {position: fixed; width:100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.9); color: #FFFFFF; display: none; z-index: 10;}
.mask_mmedit .mask_in {width: 80%; height: 60%; position: absolute; top: 20%; left: 10%; background: #fff; border-radius: 10px;}
.mask_mmedit .mask_in .close {position: absolute; top: -5px; right: -5px; width: 26px; height: 26px; line-height: 100%; background: #f00; color: #fff; font-size: 26px; text-align: center; border-radius: 50%; z-index: 10;}
.mask_mmedit .mask_in .content {position: relative; height: 100%; width: 100%; padding: 10px; overflow: hidden; box-sizing: border-box;}
.mask_mmedit .mask_in .content .button {height: 35px; width: 100%; background: #f60; color: #fff; text-align: center; line-height: 35px; position: absolute; bottom: 0px; left: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
/*弹出表单*/
.form_block {clear: both; margin-bottom: 10px; background: #fff;}
.form_block h3 {font-size: 4vw; padding: 10px 0 10px 10px; background: #eee;}
.form_block h3 i {float: right; color: #09c; padding-right: 10px; font-size: 20px;}
.form_block li {display: flex; padding: 15px 10px; border-bottom: 1px solid #eee; line-height: 20px; font-size: 14px;}
.form_block li .title {width: 30vw; color: #777; flex-shrink: 0;}
.form_block li p {text-align: right; width: 100%; position: relative;}
.form_block dt {padding: 8px 10px; border-bottom: 1px solid #eee; color: #aaa;}
.form_block .input {line-height: 20px; outline: none; width: 100%; text-align: right; background: #fff; color: #09c;}
.form_block .input::-webkit-input-placeholder {color: #ccc;}


/*关注弹出层*/
.mask_attention {position: fixed; z-index: 99; width: 100%; height: 100%; background: rgba(0,0,0,0.8); top: 0; left: 0;}
.mask_attention img {margin-top: 63vw;}
.mask_attention .but {width: 90px; height: 33px; text-align: center; border: 2px dashed #fff; line-height: 33px; font-size: 16px; transform: rotate(-10deg); -webkit-transform: rotate(-10deg); color: #fff; position: absolute; right: 40px; top: 405px;}

/*新手引导层*/
.mask_guide {position: fixed; z-index: 99; width: 100%; height: 100%; background: rgba(0,0,0,0.8); top: 0; left: 0; display: none;}
.mask_guide img {width: 100%; margin-top: 300px;}

/*无数据*/
.no_data {margin: 10px auto; background: #fff; text-align: center; padding: 30px 0; font-size: 14px; color: #666;}
.no_data i {font-size: 20vw; margin: 0 auto 10px auto; display: block;}

/*免费会员提示*/
.free_notice {background: rgb(255,255,204); padding: 10px 25px 10px 10px; color: #f00; position: relative; border-bottom: 1px solid #fff; border-top: 1px solid #fff;}
.free_notice p {position: absolute; width: 20px; text-align: right; top: 10px; right: 10px; color: #333; font-size: 20px; line-height: 18px;}
.free_notice b {border: 1px solid #f00; padding: 1px 3px; border-radius: 3px; background: #fff; margin-right: 5px; font-weight: normal; white-space: nowrap;}


/*confirm提示层*/
.g_mask_confirm {position: fixed; width: 100%; height: 100%; top: 0; left: 0; display: none; z-index: 9999;}
.g_mask_confirm .mask_in {position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.85); display: flex; display: -webkit-box; display: -webkit-flex; justify-content: center; align-items: center;}
.g_mask_confirm .mask_in .block {background: #fff; width: 80%; border-radius: 8px; overflow: hidden;}
.g_mask_confirm .mask_in .block .text {padding: 15px 10px; text-align: center; font-size: 14px; line-height: 22px;}
.g_mask_confirm .mask_in .block .button {display: flex; background: #999; color: #fff;}
.g_mask_confirm .mask_in .block .button li {flex: 1; height: 35px; line-height: 35px; text-align: center;}
.g_mask_confirm .mask_in .block .button .but {background: #f60;}
